<p id="notice"><%= notice %></p>

<h1>Register Uploads</h1>

<table>
  <thead>
    <tr>
      <th>Register</th>
      <th>Filename</th>
      <th>Upload Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @register_uploads.each do |register_upload| %>
      <tr>
        <td><%= register_upload.register.name %></td>
        <td><%= register_upload.external_file.url %></td>
        <td><%= register_upload.created_at.to_s %></td>
        <td><%= link_to 'Show', register_upload %></td>
        <td><%= link_to 'Edit', edit_register_upload_path(register_upload) %></td>
        <td><%= link_to 'Destroy', register_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Register Upload', new_register_upload_path %>
