<p id="notice"><%= notice %></p>

<p>
  <strong>Register:</strong>
  <%= @register_upload.register.name %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @register_upload.filename %>
</p>

<%= link_to 'Edit', edit_register_upload_path(@register_upload) %> |
<%= link_to 'Back', register_uploads_path %>

<table>
<% for re in @register_upload.register_upload_entries %>
  <tr>
    <td><%= re.entry_date.to_s %></td>
    <td><%= re.description %></td>
    <td><%= re.withdrawal %></td>
    <td><%= re.deposit %></td>
  </tr>
<% end %>
</table>